<div style="display: flex; justify-content: center;">
    <mat-form-field style="width: 76%; margin-top: 15px;">
        <mat-label>Search any Movie</mat-label>
        <input matInput #searchKeyword 
        placeholder="Movie name" (keyup)="searchBykeyword(searchKeyword.value)">
        <button mat-icon-button matSuffix (click)="searchBykeyword(searchKeyword.value)"><mat-icon>search</mat-icon></button>
    </mat-form-field>
</div>
<div class="container">
    <mat-card *ngFor="let i of movies" class="example-card">
        <mat-card-header>
            <mat-card-title> Movie: {{ i.movieIdentity.movieName }} </mat-card-title>
            <mat-card-subtitle> Theatre Name: {{ i.movieIdentity.theatreName }} </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://cdn.pixabay.com/photo/2017/11/24/10/43/ticket-2974645_1280.jpg">
        <mat-card-content>
            Available Tickets: {{ i.noOfTickets }} {{i.noOfTickets > 0 ? "Book now" : "Sold"}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="openAddTickets(i)"   *ngIf="this.cookieService.get('usertype') != 'admin'" [disabled]="i.noOfTickets == 0 || this.cookieService.get('loggedIn') != 'Yes'">Book Tickets</button>
            <button mat-raised-button color="primary" (click)="updateTicketStatus(i)"  *ngIf="this.cookieService.get('usertype') == 'admin'" [disabled]="i.isStatusUpdated == true">Update Ticket Status</button>
        </mat-card-actions>
    </mat-card>
</div>