.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}
.forgot-wrapper {
    background-color: white;
    width: 70%;
    height: 50%;
    margin: 40px auto;
    border-radius: 10px 10px 10px 10px;
    padding-top: 20px;
}
.forgot-wrapper h1 {
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
    font-size: 23px;
}
mat-form-field {
    width: 40%;
}
button {
    width: 15%;
}