<div class="forgot-wrapper">
    <h1>Forgot Password</h1>

    <mat-stepper linear #stepper color="accent">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-step-header>Forgot Password</mat-step-header>
        <mat-step [stepControl]="loginIdNameForm">
            <form [formGroup]="loginIdNameForm" fxLayout="column">
                <ng-template matStepLabel>Enter your Login Id and Name</ng-template>
                <mat-form-field appearance="outline">
                    <mat-label>LoginId</mat-label>
                    <input matInput formControlName="loginId" placeholder="Enter Login id" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName" placeholder="Enter First name" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastName" placeholder="Enter Last name" required>
                </mat-form-field>
                <div>
                    <button mat-stroked-button matStepperNext color="accent">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="mailContactForm">
            <form [formGroup]="mailContactForm" fxLayout="column">
                <ng-template matStepLabel>Enter your Email Id and Contact Number</ng-template>
                <mat-form-field appearance="outline">
                    <mat-label>Email Id</mat-label>
                    <input matInput formControlName="emailId" placeholder="Enter Email id" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Contact Number</mat-label>
                    <input matInput formControlName="contactNumber" placeholder="Enter Contact Number" required>
                </mat-form-field>
                <div>
                    <button mat-stroked-button matStepperPrevious color="accent">Back</button>
                    <button mat-stroked-button matStepperNext color="accent" style="margin-left: 5px;">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="passwordForm">
            <form [formGroup]="passwordForm" fxLayout="column">
                <ng-template matStepLabel>Enter New Password</ng-template>
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="password" placeholder="Enter New Password" required type="password">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="matchPassword" placeholder="Enter Confirm Password" required type="password">
                </mat-form-field>
                <div>
                    <button mat-stroked-button matStepperPrevious color="accent">Back</button>
                    <button mat-stroked-button (click)="stepper.reset()" style="margin-left: 5px;">Reset Form</button>
                    <button mat-stroked-button matStepperNext color="primary" style="margin-left: 5px; width: 22%;" (click)="doChangePassword()">Change Password</button>
                </div>
            </form>
        </mat-step>
    </mat-stepper>
</div>