<h2 mat-dialog-title>Book Tickets</h2>
<mat-dialog-content class="mat-typography">
  <h3>Movie Name: {{ this.movie.movieIdentity.movieName }}</h3>
  <h3>Theatre Name: {{ this.movie.movieIdentity.theatreName }}</h3>
  <h3>No. of seats available: {{ this.movie.noOfTickets }}</h3>
  <div class="container-main">
    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>Available</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>
      <li>
        <div class="seat sold"></div>
        <small>Sold</small>
      </li>
    </ul>
    <div class="container">
      <div class="screen"></div>

      <div class="row" *ngFor="let row of this.seats">
        <div class="seat" *ngFor="let col of row" id="{{col}}" (click)="toggleSeat($event)"></div>
      </div>
    </div>

    <p class="text">
      You have selected <span id="count"> {{ this.totSelectedSeats }} </span> seat for a price of RS.<span id="total">
        {{ this.totPrice }} </span>
    </p>
  </div>



</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="addMovieTickets()">Add Tickets</button>
</mat-dialog-actions>